<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
 <parameter name = "Email" value = "prav8483"></parameter>
<parameter name = "Pass" value = "16182062"></parameter>

  
    <classes>
      <class name="org.test.Praveen"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
<!-- 
prav8483 | vima0953 | swet1121 | mari9100 | jose6440 | lawr7800 | ebin4321 | ruba6221 | nels2853 
16182062 | 09531138 | 69282114 | 68257266 | 23755165 | 62521470 | 29591170 | 07951663 | 58221060 

| srir8529 | prem9432
| 08521511 | 94321005



 -->
